.header-wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;  /* ← this will center the hr */
}

.header-container {
  width: 400px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 70px;
  padding: 0 1rem;
  background-color: #ffffff;
  font-size: 1rem;
  font-weight: bold;
  position: relative;
}

.header-title {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  font-size: 1.1rem;
  white-space: nowrap;
}

.header-close,
.header-button {
  background: none;
  border: none;
  font-size: 1rem;
  cursor: pointer;
  margin-left: 20px;
}

.header-button svg{
  margin-top: 10px;
  margin-right: 30px;
}

.header-right-space {
  width: 1rem;
}

.write-divider {
  border: none;
  height: 6px;
  background-color: #C43F28;
  width: 400px;
  margin: 0 auto;       /* ← centers block-level elements */
}
