.nav-bar {

  bottom: 0;
  left: 0;
  width: 400px;
  height: 60px;
  margin-left: auto;
  margin-right: auto;
  background-color: #ffffff;
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-top: 1px solid #eee;

  z-index: 999;
}

.nav-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 0.75rem;
  color: #222;
  cursor: pointer;
}

.nav-item svg {
  font-size: 1.2rem;
  margin-bottom: 0.2rem;
}

.nav-item.active {
  color: #e05545;
  font-weight: bold;
}

body {
  margin: 0;
  padding: 0;
  overflow-x: hidden; /* 👈 전체 페이지 스크롤 제거 */
}